<nav class="site-nav">
  <a href="https://{{ .Site.Params.GithubUsername }}.github.io">Site Home</a>
  <a href="{{ .Site.BaseURL }}">Blog Home</a>
  <a href="{{ .Site.BaseURL }}post/">All posts</a>

  {{ if eq .Site.Params.SocialLinks true -}}

    {{ if isset .Site.Params "TwitterUsername" -}}
    <a href="https://twitter.com/{{ .Site.Params.TwitterUsername }}">Twitter</a>
    {{- end }}

    {{ if isset .Site.Params "GithubUsername" -}}
    <a href="http://github.com/{{ .Site.Params.GithubUsername }}">GitHub</a>
    {{- end }}

  {{- end }}

</nav>
